[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target consul.service

[Service]
Restart=on-failure
EnvironmentFile=-/etc/caddy/env
WorkingDirectory=/etc/caddy
ExecStart=/usr/bin/consul-template -template "Caddyfile.ctmpl:Caddyfile:bash -c '/usr/bin/caddy reload || true'"

[Install]
WantedBy=multi-user.target
